@font-face {
    font-family: 'Playfair Display Bold';
    src: url('./../assets/fonts/playfair_display/bold/PlayfairDisplay-Bold.eot');
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
        url('./../assets/fonts/playfair_display/bold/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('./../assets/fonts/playfair_display/bold/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('./../assets/fonts/playfair_display/bold/PlayfairDisplay-Bold.woff') format('woff'),
        url('./../assets/fonts/playfair_display/bold/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('./../assets/fonts/playfair_display/bold/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

