.navContainer {
  margin-bottom: 5px;

  .searchContainer {
    background-color: rgb(22, 22, 22);
  }
  #menu {
    margin-top: 0px;
    ul {
      list-style-type: none;
      margin-top: 1px;
      padding: 0px;
      position: absolute;
      width: 100%;
      z-index: 8888;
      background-color: white;

      li {
        display: block;
        background-color: rgb(24, 24, 24);
        margin: 0px 12px 1px 12px;
        text-align: left;

        a {
          color: rgb(255, 255, 255);
          width: 100%;
          display: block;
          text-decoration: none;
          font-weight: 700;
          font-size: 15px;
          line-height: 32px;
          padding: 5px;
          margin: 0 2px;
          font-family: Helvetica, Arial, sans-serif;

          &.active {
            color: #c70000;
          }
          &:hover {
            color: red;
          }
        }
      }
    }
  }

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  .searchTerm {
    width: 100%;
    height: 44px;
    border: 1px solid #000000;
    border-right: none;
    padding: 2px 20px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: #000000;
    outline: none;
  }

  .searchButton {
    outline: none;
    width: 44px;
    height: 44px;
    border: 1px solid #000000;
    border-left: none;
    background: #ffffff;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 16px;
  }

  .cart-btn {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .navContainer {
    margin-bottom: 40px;
    .searchContainer {
      background-color: transparent;
    }
    #menu {
      ul {
        margin-top: 10px;
        background-color: transparent;

        li {
          display: inline;
          background-color: transparent;
          margin: inherit;
          text-align: center;

          a {
            color: rgb(0, 0, 0);
            display: inline;
            padding: 10px 2%;
          }
        }
      }
    }

    .searchButton {
      border: 0px;
      background-color: transparent;
    }

    .expandedSearchButton {
      border: 1px solid #000000;
      border-left: transparent;
      background-color: #ffffff;
    }
  }
}
